/*PLAYER INHOUSE AD 26032020*/
#ima-sample-videoplayer {border-radius: 5px;width: 640px;height: 388px;margin-left: auto;margin-right: auto;display: none;}
#content_video {overflow: hidden;}
.contControlsVideo{width: 100%;height: 28px;bottom: 0px;position: absolute;display: none;}
.contControlsVideo .buttonAudio{width: 28px;height: 28px;bottom: 0;background-image: url('/noticias/stat/includes/publicidad/img/iconos/Play_sonido-01.svg');float:right;display: none;background-repeat: no-repeat;margin: -5px 5px 0 0;cursor: pointer;}
.contControlsVideo .buttonMute{width: 28px;height: 28px;bottom: 0;background-image: url('/noticias/stat/includes/publicidad/img/iconos/mute_mute__-01.svg');float:right;display: none;background-repeat: no-repeat;margin: -5px 5px 0 0;cursor: pointer;}
.videoInReadWrapper{display: none;margin: 0 auto;}
.closeWrapper{width: 30px;height: 28px;position: absolute;top:-30px;right: 0;}
.closeWrapper .contentClose{width: 30px;height: 28px;float: left;}
.closeWrapper .contentCloseImg{width: 100%;height: 28px;background-image: url('/noticias/stat/includes/publicidad/img/iconos/Cerrar_cerrar___-01.svg');float: left;cursor: pointer;margin-top: -28px;background-repeat:no-repeat;}
.contMiniPlayer{position: fixed !important;bottom: 20px;right: 20px;width: 350px !important ;height: 200px !important ;animation: fade-in-up .25s ease forwards !important;padding-bottom: 10px;z-index: 1;}
.content-reproductor{position: relative;}

/*FIN PLAYER INHOUSE AD 26032020*/